 <% @projects.each do |project| %>
       <tr class = "table_head_pname">
          <th colspan="2"><i class="glyphicon glyphicon-list-alt"></i></th>
          <th colspan="2"><%= project.name %></th>
          <td><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_project_path(project) %></td>
          <th>%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
  <% end %>