/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
  *= require_self
  *= require jquery-ui
  *= require_tree .
 */

//импорт библиотек "bootstrap"
@import "bootstrap-sprockets";
@import "bootstrap";

//настройки html-документа, установка фона
body, html {
	background: url(view.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;	
}

//настройки отображения флеш-сообщений
#flash { 
	text-align: center; 
	position: fixed;
	top: 10px;
	left: 0px;
	font: 16px Candal, sans-serif;
	
}

//черные полосы сверху и снизу
#up, #down {
	position: absolute;
	background: #342A2A;
	width: 100%;
	height: 10px;
	left:0; right:0;

}
#up {top:0;} 
#down {bottom:0;  position: fixed;}

//настройки заголовков
h2, h4, h6 { 
	text-align: center;
	margin-left: 3%;
	}

h2 { font-weight: bolder; }

h4 {
	text-color: #928888;
	margin-top: -10px;
}

h6 { color: white; }

//цвет шрифта в списке выпадающего меню
li { color: black; }

//разделитель между кнопками управления проектами
.divider_p {
	height: 15px;
	width: 1pt;
	border: 1px dotted #98B0D2;
	position: absolute;
	right: -75%;
	top: 0;
}

//разделитель между кнопками управления задачами
.divider_t {
	height: 12px;
	width: 1px;
	border: 1px dotted #98B0D2;
	position: absolute;
	left: -50%;	
	top: 1px;
}