// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//обертка-контейнер таблицы 
.table_container {
	margin-left: -10%;	 	 
	tbody { background-color: #FFFFFF; }	
}

//шапка таблицы(название проекта)
.table_head_pname {
	cursor: pointer;
	height: 40px;
	background-color: #4373B1;
	color: white;
	font-size: 16px;
	.glyphicon-list-alt	{
		color: #2B3441;
		cursor: pointer;
		position: relative;	
		left: 3px;
		top: -1px;
		font-size: 24px;
		transform: rotate(90deg); 
	}		
}

//стилизация иконок
.glyphicon-pencil, .glyphicon-trash, .ui-icon {color: #98B0D2; cursor: pointer;}
.glyphicon-plus {
	color: #5C9273;
	cursor: pointer;
	position: relative;
	left: 5px;
 }

//шапка таблицы(добавление задачи)
.table_head_add {
	background-color: #D0D0D0;
	font-size: 20px;
	height: 40px;

	input, .btn {
		font-size: 10px;
		height: 25px;
		border-radius:0;
	}
	input {
		margin-right: -5px;
		border-radius: 5px 0 0 5px;
	}
	.btn {
		color: white;
		margin-left: -5px;
		padding-top: 4px;
		border-radius: 0 5px 5px 0;
	}	
	.form-control { width: 500px; }
}

//корректировка шапки таблицы
.table_head_pname, .table_head_add {
	td, th {
    border: none !important;
    padding:4px;
	}
}

//ячейки чекбоксов
.task_checkbox {
	padding-right: 4px;
	padding-bottom: 3px;
}

//ячейка с названием задачь 
.tasks_name {
	cursor: pointer;
	width: 500px;
	padding-top: 1%;	
	color: #90959B;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 12px;		
}

//кнопка добавления нового проэкта
.btn-primary {
	margin-left: 33%;
	font-weight: bolder;
	font-size: 16px;
	.glyphicon-plus { 
		color: #243654;
		font-size: 20px;
		position: relative;			
		left: -3px;
		top: 3px;	
	}
}

//корректировка границ области кнопок
tr .t_onlink, .p_onlink {
	border: 0.5px !important;
}

// скрывает кнопки в строке задач
.p_onlink, .t_onlink {
	display: none;
} 

// удаление фона со ссылок
a:link { background:none; }

//таймер срока выполнения задач
#getting-started { 
	padding: 7px 0 0 3px; 
	font-weight: bolder; 
	color: crimson;
}

//приоритет задач
.priority {
	padding: 2px; 
	div {
		height: 10px;
		width: 5px;
		border: 1px solid white; 
		background: #F0EDED;
		cursor: pointer;
 	}
}
//псевдокласс для обозначения приоритета
.set_priority {
	background: #57802A !important;
}
