// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//обертка-контейнер таблицы 
.table_container {
	margin-left: -10%;	 	 
	tbody {
		background-color: #FFFFFF;		
	}
	.lline {
		padding: 2px;
	}	
}

//шапка таблицы(название проекта)
.table_head_pname {
	cursor: pointer;
	height: 35px;
	background-color: #4373B1;
	color: white;
	.glyphicon-list-alt	{color: #060000;}
	font-size: 16px;	
}

//стилизация иконок
.glyphicon-pencil, .glyphicon-trash, .ui-icon {color: #98B0D2; cursor: pointer;}
.glyphicon-plus {color: #5C9273; }

//шапка таблицы(добавление задачи)
.table_head_add {
	background-color: #D0D0D0;
	font-size: 20px;
	input, .btn {
		font-size: 10px;
		height: 25px;
		border-radius:0;
	}
	input {
		margin-left: 5px;
		border-radius: 5px 0 0 5px;
	}
	.btn {
		color: white;
		margin-left: -5px;
		border-radius: 0 5px 5px 0;
	}	
}

//корректировка шапки таблицы
.table_head_pname, .table_head_add {
	td, th {
    border: none !important;
    padding:4px;
	}
}

//ячейка с названием задачь
.tasks_name {
	cursor: pointer;
	height: 25px;
	width: 500px;
	padding: 2%;
	color: #90959B;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 12px;		
}

//кнопка добавления нового проэкта
.btn-primary {
	margin-left: 30%;
	font-weight: bolder;
	font-size: 16px;
	.glyphicon-plus { 
		color: #243654;
		font-size: 20px;
		margin-left: -5px;
		padding-right: 5px;
		padding-bottom: 5px;			
	}
}

// удаление фона со ссылок
a:link { background:none; }

//корректировка границ области кнопок
tr .t_onlink, .p_onlink {
	border: 0.5px !important;
}

// скрывает кнопки в строке задач
.p_onlink, .t_onlink {
	display: none;
} 
